*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.minus{
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 9.38px;
    padding-right: 9.38px;
    border-radius: 50%;
    background: #FFCE7F;
    margin-left: 16.41px;
    margin-bottom: 17px;
    margin-top: 17px;
}
.plus{
     padding-top: 14px;
     padding-bottom: 14px;
     padding-left: 9.38px;
     padding-right: 9.38px;
     border-radius: 50%;
     background: #FFCE7F;
     margin-left: 16.41px;
     margin-bottom: 17px;
     margin-top: 17px;
}